h2{
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
    height: 40px;
    .username{
        margin-right: 10px;
    }
}

#goodbye{
    // center the text
    text-align: center;
    width: fit-content;
    margin: auto;
    background: yellow;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-rows: 36px 79px 174px;
    background-color: #f4f4f4;
    .welcome{
        font-size: 2em;
    }
}