h1 {
    color: blue;
}

button {
    cursor: pointer;
}

#auth-container {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    margin-top:50px;

    

    .cover {

        z-index: 1;
        width: 400px;
        height: 70vh;
        position: absolute;
        // background-color: blue;
        background-size: cover;
        // filter: contrast(0.5);
        transition: left 0.5s, translate 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 10px;
        box-sizing: border-box;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            filter: contrast(0.5);
            z-index: -1; // Ensure the pseudo-element is behind the content
        }
      
        h2{
            color: rgb(0, 0, 0);
            background-color: #cccccc64;
            height: fit-content;
            z-index: 1;
        }
        &.left {
            left: 00%;
            &::before {
                background-image: url('./assets/authformImgs/image-1.jpg'); 
            }
        }

        &.right {
            left: 100%;
            translate: -100% 0;
            &::before {
                background-image: url('./assets/authformImgs/image-3.jpg'); 
            }
        }
        button {
            margin-top:auto;
        }
    }

    &[auth-mode="login"] {
        .cover.right {
            translate: 0;
        }
    }

    &[auth-mode="signup"] {
        .cover.left {
            translate: -100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 400px;
    }

    label {
        font-size: 1.2rem;
        .text{
            position: absolute;
            z-index: 1;
            transition: all 0.5s;
            transform: translate(8px, 10px);
            user-select: none;
            cursor: text;
        }
        &.moveLabel {
            .text{
                transform: translate(0px, -7px);
                font-size: 0.75rem;
            }
        }
        .static-label-text{
            transform: translate(0px, -7px);
            font-size: 0.75rem;
            white-space: nowrap;
            position: absolute;
        }
        &[for="remember-me"]{
            translate: -84px 0;
            input {
                scale: 1.5;
                transform-origin: left;
            }
        }
        input {
            width: 80%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .hide-password{
            display: none;
        }
        .show-password{
            display: block;
        }
        &[password-toggle="show"]{
            .hide-password{
                display: block;
            }
            .show-password{
                display: none;
            }
        }
    }
    .row, .column{
        display: flex;
        &.column{
            flex-direction: column;
            align-items: center;
        }
    }
    .password-container{
        position: relative;

        .password-strength{
            background-color: blue;
            width: 92%;
            height: 5px;
            position: absolute;
            top: 42px;
            border-radius: 0 0 5px 5px;
        }
        .password-toggle{
            position: absolute;
            top: 50%;
            translate: -100% -50%;
            right: 0;
            scale: 0.8;
            cursor: pointer;
        }
    }

    .forgot-password{
        position: absolute;
        bottom: 10px;
    }
}